#contenedor{
    display:flex;
    flex-wrap: wrap;
}

.tarjeta{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(138, 134, 134);
    width: 250px;
    height: 350px;
}

.tarjeta img{
    width: 100%;
    height: 40%;
}

button{
    background-color:rgb(104, 187, 241);
}

